{% extends 'base.html' %} 
{% block title %} {{ title }} {% endblock %} 
{% block content %} 
<div class="container mb-5 col-lg-6 col-md-8">
    <h1 class="text-center fw-bold">Zotero MECA</h1>
    <p class="font-monospace text-center">Metadata Extraction Citation Automation</p>
    <form id="task-form" method="POST" action="" enctype="multipart/form-data">
        {% if not lib_key %}
        <div class="input-group mb-3 shadow-sm rounded">
            <input type="text" class="form-control" placeholder="Enter Zotero Key" name="lib-key">
            <button class="btn btn-dark" type="submit">&rarr;</button>
        </div>
        {% elif not lib_id %}
        <div class="input-group mb-3 shadow-sm rounded">
            <input type="text" class="form-control" placeholder="Enter Zotero Library Id" name="lib-id">
            <button class="btn btn-dark" type="submit">&rarr;</button>
        </div>
        {% else %}
        <div class="input-group mb-3 shadow-sm rounded">
            <input type="file" class="form-control" name="file[]" webkitdirectory="" directory="" multiple>
            <button class="btn btn-dark" type="submit">&rarr;</button>
        </div>
        {% endif %}
    </form>
</div>
{% endblock %}